body{
    margin: 0;
    padding: 0;
    font-family: roboto;
}

/*HEADER*/
.logo{
    width: 50px;
    height: 45px;
    filter: grayscale(1);
}

header{
    background-image: url('../img/bg-header.jpg');
    width: auto;
    height: 670px;
    background-size: cover;
}

header > nav {

    color: white;
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: auto;
    width: auto;
    padding-top: 15px;
}

header > nav span {
    margin: auto 15px;
}

header > nav ul {
    list-style: none;
    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

header > nav ul > li > a,
header > nav > span > a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 300;
    transition: all 350ms ease-in-out;
    margin-left: 30px;
    margin-right: 20px;
}


.win-money-link{
    text-decoration: none;
    color: white;

}
.win-money-link p{

    margin-left: 260px;
    float: left;
}

.search-regions{
    text-decoration: none;
    color: white;
}

.search-regions p{
float: right;
margin-right: 30px;
text-align: right;
}

/*CARD IN HEADER*/

.card-container{
    margin-left: 200px;
    width: 450px;
    height: auto;
    background-color: white;
    color: black;
    display: flex;
    justify-content: flex-end;
    border-radius: 3px;
    margin-top: 50px;
}

.card{
    
    margin: auto;
}

.title-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 350px;
}

input{
    margin: 5px auto;
    font-size: 15px;
}

input[type=text]{
    margin: 10px 0;
    width: 400px;
    padding: 12px 20px;
    box-sizing: border-box;
    border-radius: 3px;
    border: 1px solid rgb(202, 202, 202);
}

input[type=date]{
    margin: 10px 0;
    padding: 12px 20px;
width: 150px;
border-radius: 3px;
border: 1px solid rgb(202, 202, 202);
}

.resa{
    display: flex;
    justify-content: center;
    width: 400px;
}

.ou{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
}

.arrivee{
    display: flex;
    flex-direction: column;
  
}

.depart{
    display: flex;
    flex-direction: column;
    margin-left: 5px;
 
}

.voyageur{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 200px;
}

.btn-search{
    margin: 15px 0;
    padding: 12px 20px;
    background: #c44569;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    color: white;
    font-size: 15px;
    float: right;
}

.btn-search:hover{
    background: #c20037;
}
